<h1>User info</h1>
  <% if @user.errors.any? %>
    <%= @user.errors.count %>errors exist
    <%= @user.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  <% end %>


  <%= form_with model:@user, local:true do |f| %>
  <h4>Name</h4>
  <%= f.text_field :user %>

  <%= attachment_image_tag @user, :profile_image, :fill, 60,60,fallback:"no_image.jpg" %>
  <h4>Image</h4>
  <%= f.attachment_field :profile_image, placeholder:'Create box' %>

  <h4>introduction</h4>
  <%= f.text_area :introduction %>
  <%= f.submit 'Update User' %>
<% end %>