
<div class="col-md-3">
  <h2>User info</h2>
  <%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
  <table class="table">
    <tbody>
      <tr>
        <th>name</th>
        <th><%= user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= user.introduction %></th>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <%= link_to edit_user_path(user) ,class: "btn btn-block btn-outline-secondary", type: "button" do %>
      <span aria-hidden="true" class="fas fa-user-cog"></span>
    <% end %>
  </div>
  <h2>New book</h2>
    <% if book.errors.any? %>
      <%= book.errors.count %>errors exist!
      <% book.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    <% end %>

   <%= form_with model:book, local:true do |f| %>
   <h2>title</h2>
   <%= f.text_field :title %>
   <h2>Opinion</h2>
   <%= f.text_area :body %>
   <%= f.submit "Create Book" %>
   <% end %>
</div>


