

<div class="container px-5 px-sm-0">
  <div class="row">
    <%= render 'books/index', book: @book, user: @user %>
      <div class="col-md-8 offset-md-1">
        <h2>Book detail</h2>
        <table class="table">
          <tbody>
            <tr>
              <td><%= attachment_image_tag @user, :profile_image %></td>
              <td><%= @books.user.name %></td>
              <td><%= @books.title %></td>
              <td><%= @books.body %></td>
              <% if @books.user_id == current_user.id %>
               <td><%= link_to "Edit", edit_book_path(@books.id) %></td>
               <td><%= link_to "Destroy", book_path,method: :delete %></td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>

