

<div class="container px-5 px-sm-0">
  <div class="row">
    <%= render 'books/index', book: @book, user: @user %>
    <h2>Book detail</h2>
      <%= attachment_image_tag @user, :profile_image %>
      <%= @books.user.name %>
      <%= @books.title %>
      <%= @books.body %>
      <% if @books.user_id == current_user.id %>
       <p><%= link_to "Edit", edit_book_path(@books.id) %></p>
       <p><%= link_to "Destroy", book_path,method: :delete %></p>
      <% end %>
  </div>
</div>

